<better-carts-timer class="better-carts-timer">
  <span id="bc-countdown" style="color: {{ color }}"></span>
</better-carts-timer>

<script>
  class BetterCartsTimer extends HTMLElement {
    constructor() {
      super();

      this.initializeTimer();
    }

    async initializeTimer() {
      if (!Date.prototype.addHours) {
        Date.prototype.addHours = function(h) {
          this.setTime(this.getTime() + (h * 60 * 60 * 1000));
          return this;
        }
      }

      const variantId = {{ variant_id }};
      console.log(variantId)
      const userId = window.customer.id;
      const shopId = window.customer.shop;
      const cartId = () => {
        const cookie = document.cookie.split('; ').find((row) => row.startsWith('cart=')) ?. split('=')[1];

        return cookie;
      }

      const reservationDate = await fetch(`https://better-carts.dev-test.pro/storefront/time?item=${variantId}&cart=${cartId}&user=${userId}&shop=${shopId}`);
      const date = new Date(await reservationDate.json());
      const endDate = new Date(date).addHours(24);

      let _second = 1000;
      let _minute = _second * 60;
      let _hour = _minute * 60;
      let _day = _hour * 24;
      let timer;

      function showRemaining(endDate) {
        let now = new Date();
        let distance = endDate - now;

        if (distance < 0) {
          clearInterval(timer);
          document.getElementById('bc-countdown').innerHTML = 'Reserve time expired!';

          return;
        }

        let days = Math.floor(distance / _day);
        let hours = Math.floor((distance % _day) / _hour);
        let minutes = Math.floor((distance % _hour) / _minute);
        let seconds = Math.floor((distance % _minute) / _second);

        document.getElementById('bc-countdown').innerHTML = 'Reserve time: ';
        document.getElementById('bc-countdown').innerHTML += days > 9
          ? days + ':'
          : '0' + days + ':';
        document.getElementById('bc-countdown').innerHTML += hours > 9
          ? hours + ':'
          : '0' + hours + ':';
        document.getElementById('bc-countdown').innerHTML += minutes > 9
          ? minutes + ':'
          : '0' + minutes + ':';
        document.getElementById('bc-countdown').innerHTML += seconds > 9
          ? seconds
          : '0' + seconds;
      }

      timer = setInterval(() => showRemaining(endDate), 1000);
    }
  }


  window.customElements.define('better-carts-timer', BetterCartsTimer)
</script>