<div style='font-size:16px;font-family:"montserrat"'>
  <div style='max-width:560px;margin:0 auto;color:rgb(119,119,119);'>
     <div style='font-weight: normal;font-size:1.2em;color:black;max-width:560px;margin:0 auto;padding:2em 0;'>
        Items expired
     </div>
     Uh, oh... Item in your cart have expired! These item are no longer reserved for you, and may now be reserved and purchased by others. Checkout now to make sure you don't lose these items!
     <br />
     <div style="padding: 1em 0px; text-align: center;">
        <a style="text-decoration: none; display: inline-block; border-radius: 4px; color: #ffffff; padding: 20.0px 100.0px; background: #687361;" href="{{link}}">
        View cart
        </a>
     </div>
  </div>
  <div style='border-top:1px solid rgb(229,229,229);padding:2em 0;'>
     <div style='max-width:560px;margin:0 auto;color:rgb(119,119,119);'>
        If you have any questions, contact us at {{shop_email}}.
     </div>
     <br />
  </div>
</div>