<div style='font-size:16px;font-family:"montserrat"'>
  <div style='max-width:560px;margin:0 auto;color:rgb(119,119,119);'>
     <div style='font-weight: normal;font-size:1.2em;color:black;max-width:560px;margin:0 auto;padding:2em 0;'>
        Items expiring soon
     </div>
     Your reserved items are expiring soon! Be sure to checkout before they do, or they may be claimed by others. Click below to review your cart and checkout now!     <br />
     <div style="padding: 1em 0px; text-align: center;">
        <a style="text-decoration: none; display: inline-block; border-radius: 4px; color: #ffffff; padding: 20.0px 100.0px; background: #687361;" href="{{link}}">
        View cart
        </a>
     </div>
  </div>
  <div style='border-top:1px solid rgb(229,229,229);padding:2em 0;'>
     <div style='max-width:560px;margin:0 auto;color:rgb(119,119,119);'>
        If you have any questions, please contact us at {{shop_email}}.
     </div>
     <br />
  </div>
</div>
